<% provide(:title, "学科介绍") %>
<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Page Header  -->
    <div id="page-header" class="secondary-background">
      <div class="container">
        <div class="row no-margin">
          <div class="text">
            <h1 class="white">机械工程材料学科介绍</h1>
            <ul class="breadcrumb white">
              <li><a href="#">Home</a></li>
              <li>About us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  END Page Header  -->
    <div id="home-wrap" class="content-section fullpage-wrap">
      <div class="container">
        <!-- Section Image -->
        <div class="row no-margin padding-lg">
          <div class="col-md-6 padding-leftright-null">
            <div class="text padding-topbottom-null">
              <h2 class="margin-bottom-null left">About Object</h2>
              <div class="padding-onlytop-sm">
                <p class="margin-bottom margin-md-bottom-null">
                  <strong>用于制造各类机械零件、构件的材料和在机械制造过程中所应用的工艺材料。
                    人类最先利用的材料是自然材料：石头、木头、泥土、兽皮，发明火以后，可以使用陶器和瓷器，青铜是金属材料的最早使用，炼铁和炼钢丰富和发展了机械材料，钢铁是机械材料的主要材料，提高钢铁等金属材料的使用性能和加工性能是19世纪20世纪21世纪材料专家的主要研究内容，非金属材料，如高分子材料和现代陶瓷是21世纪材料工作者的研究目标。
                  </strong>
                </p>

                <p>
                  <strong>
                    机械工业是为国民经济提供装备的基础工业，将随着科学技术的发展而产生变化。机电一体化，机电一体化技术和机电一体化产品的统称，是在机电产品中引入微电子元器件和技术之后形成的。机电一体化技术又称机械微电子技术，是机械工程、微电子技术、信息处理技术等多种技术融合成的一种系统技术。机电一体化产品是运用机电一体化技术设计、生产的一种带有软、硬件系统的多功能的单机或成套装置，通常由机械本体、微电子装置、传感器和执行机构等组成。机电一体化技术涉及的学科有机械工程（如机构学、机械加工和精密技术等）、电工与电子技术（如电磁学、计算机技术和电子电路等）、共性技术（如系统技术、控制技术和传感器技术等）。机电一体化产品主要有商品生产用（如机器人、自动生产线和工厂等）、商品流通用（如数控包装机械及系统、微机控制交通运输机具和数控工程机械设备等）、商品贮存销售用（如自动仓库、自动称量和销售及现金处理系统等）、社会服务性（如自动化办公机械和医疗及环保等自动化设施等）和家庭、科研、农林牧渔、航空航天及国防等用的机电一体化产品。机电一体化使机械工业的技术结构、产品结构、功能和构成、生产方式和管理体系等发生巨大变化。
                    机械工程与人类生存环境
                    工程技术的发展在提高人类物质文明和生活水平的同时，也对自然环境起破坏作用。未来，机械新产品的研制将以降低资源耗费，发展纯净的再生能源，治理、减轻以至消除环境污染作为重要任务。
                  </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 padding-leftright-null padding-md-top">
            <div class="text padding-topbottom-null">
              <picture>
                <img src="assets/img/about.jpg" class="img-responsive shadow" alt="">
              </picture>
            </div>
          </div>
        </div>
        <!-- END Section Image -->
      </div>
      <!-- Services Section -->
    </div>
  </div>
</div>

<div data-spy="scroll" data-target="#myScrollspy">
  <div class="container">
    <div class="jumbotron">
    </div>
    <div class="row">
      <div class="col-xs-3" id="myScrollspy">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
          <li class="active"><a href="#section-1">概述</a></li>
          <li><a href="#section-2">简史</a></li>
          <li><a href="#section-3">分类</a></li>
          <li><a href="#section-4">发展</a></li>
          <li><a href="#section-5">物理性能</a></li>
          <li><a href="#section-4">动力机械的发展</a></li>
          <li><a href="#section-4">机械加工技术的发展</a></li>
          <li><a href="#section-4">学科分支</a></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <h2 id="section-1">概述</h2>
        <p>机械工程材料:用于制造各类机械零件、构件的材料和在机械制造过程中所应用的工艺材料。</p>
        <hr>
        <h2 id="section-2">简史</h2>
        <p>人类在同自然界的斗争中，不断改进用以制造工具的材料。最早是用天然的石头和木材制作工具，以后逐步发现和使用金属。中国使用金属材料的历史悠久，在两千多年前的《考工记》中就有“金之六齐”的记载，这是关于青铜合金成分配比规律最早的阐述。人类虽早在公元前已了解金、银、铜、汞、锡、铁、铅等多种金属，但由于采矿和冶炼技术的限制，在相当长的历史时期内，很多器械仍用木材制造或采用铁木混合结构。直到1856年英国人H.贝塞麦发明转炉炼钢法，1856～1864年英国人K.W.西门子和法国人P.┵.马丁发明平炉炼钢以后，大规模炼钢工业兴起，钢铁才成为最主要的机械工程材料。到20世纪30年代，铝（见铝合金）、镁（见镁合金）等轻金属逐步得到应用。第二次世界大战后，科学技术的进步促进了新型材料的发展，球墨铸铁、合金铸铁、合金钢、耐热钢、不锈钢、镍合金、钛合金和硬质合金等相继形成系列并扩大应用。同时，随着石油化学工业的发展，促进了合成材料的兴起，工程塑料、合成橡胶和胶粘剂等在机械工程材料中的比重逐步提高。另外，宝石、玻璃和特种陶瓷材料等也逐步扩大在机械工程中的应用。</p>
        <hr>
        <h2 id="section-3">分类</h2>
        <p>机械工程材料涉及面很广，按属性可分为金属材料和非金属材料两大类。金属材料包括黑色金属和有色
          金属。有色金属用量虽只占金属材料的5%，但因具有良好的导热性、导电性，以及优异的化学稳定性和高的比强度等，而在机械工程中占有重要的地位。非金属材料又可分为无机非金属材料和有机高分子材料。前者除传统的陶瓷、玻璃、水泥和耐火材料外，还包括氮化硅、碳化硅等新型材料以及碳素材料（见碳和石墨材料）等。后者除了天然有机材料如木材、橡胶等外，较重要的还有合成树脂（见工程塑料）。此外，还有由两种或多种不同材料组合而成的复合材料。这种材料由于复合效应，具有比单一材料优越的综合性能，成为一类新型的工程材料。
        </p>
        <p>机械工程材料也可按用途分类，如结构材料（结构钢）。工模具材料（工具钢）。耐蚀材料（不锈钢）、耐热材料（耐热钢）、耐磨材料（耐磨钢）和减摩材料等。由于材料与工艺紧密联系，也可结合工艺特点来进行分类，如铸造合金材料、超塑性材料、粉末冶金材料等。粉末冶金可以制取用普通熔炼方法难以制取的特殊材料，也可直接制造各种精密机械零件，已发展成一</p>
        <hr>
        <h2 id="section-4">发展</h2>
        <p>人类在同自然界的斗争中，不断改进用以制造工具的材料。最早是用天然的石头和木材制作工具,以后逐步
          发现和使用金属。中国使用金属材料的历史悠久，在两千多年前的《考工记》中就有“金之六齐”的记载，这是关于青铜合金成分配比规律最早的阐述。人类虽早在公元前已了解金、银、铜、汞、锡、铁、铅等多种金属，但由于采矿和冶炼技术的限制，在相当长的历史时期内，很多器械仍用木材制造或采用铁木混合结构。
        </p>
        <p>
          1856年英国人H.贝塞麦发明转炉炼钢法，1856～1864年英国人K.W.西门子和法国人P.┵.马丁发明平炉炼钢以后，大规模炼钢工业兴起，钢铁才成为最主要的机械工程材料。到20世纪30年代，铝（见铝合金）、镁（见镁合金）等轻金属逐步得到应用。第二次世界大战后，科学技术的进步促进了新型材料的发展，球墨铸铁、合金铸铁、合金钢、耐热钢、不锈钢、镍合金、钛合金和硬质合金等相继形成系列并扩大应用。同时，随着石油化学工业的发展,促进了合成材料的兴起,工程塑料、合成橡胶和胶粘剂等在机械工程材料中的比重逐步提高。另外，宝石、玻璃和特种陶瓷材料等也逐步扩大在机械工程中的应用。
        </p>
        <hr>
        <h2 id="section-5">物理性能</h2>
        <p>区别在于含碳量碳素钢：a.低碳钢（C≤0.25%）；b.中碳钢（C≤0.25~0.60%）；c.高碳钢（C》0.60%）。</p>
        <p>生铁%c=（2~4.3%） 工业纯铁 其化学成分主要是铁，含量在99.50%－99.90%，含碳量在0.04%以下，其他元素愈少愈好。</p>
        <p>Q235A 屈服值，在235左右的优质碳素结构钢。45钢含碳量%0.45的优质碳素结构钢。T10A 含碳量%1的工具钢 ，ZG200-400指的是他的屈服强度为200,抗拉强度为400,单位为(MP）的铸钢
          。灰铸铁HT200表&oslash;30试样的最低抗拉强度200MPa。</p>
        <br>
        <h2 id="section-6">动力机械的发展</h2>
        <p>17世纪后期，随着机械的改进，煤和金属矿石需求量的增加，只依靠人力和畜力已
          不能适应生产提高的要求，于是在18世纪初出现了T.纽科门的大气式蒸汽机，用以驱动矿井排水泵。1765年，J.瓦特发明了有分开凝汽器的蒸汽机，降低了燃料消耗率。1781年，瓦特又创制出提供回转动力的蒸汽机，扩大了蒸汽机的应用范围。蒸汽机的发明和发展，促进矿业和工业生产、铁路和搬运机械动力化。几乎成为19世纪唯</p>
        <h2 id="section-7">机械加工技术的发展</h2>
        <p>工业革命以前，机械大都是由木工手工制成的木结构，金属（主要是钢和铁）仅用以制造仪器、钟表、锁、泵和木结构机械上的小型零件。金属加工主要靠机匠的精工细作以达到需要的精度。随着蒸汽机的广泛使用以及随之出现的矿山、冶金、轮船和机车等大型机械的发展，需要成形加工和切削加工的金属零件越来越多，所用金属材料由铜、铁发展到以钢为主。机械加工（包括铸造、锻压、焊接、热处理等技术及其设备以及切削加工技术和机床、刀具、量具等）迅速发展，从而保证了发展生产所需要的各种机械装备供应。同时，随着生产批量的增大和精密加工技术的发展，也促进了大量生产方法（零件互换性生产、专业分工和协作、流水加工线和流水装配线等）的形成。</p>
        <br>
        <h2 id="section-8">学科分支</h2>
        <p>机械按功能可分为动力机械、粉碎机械、交通运输机械和物料搬运机械等；按服务的产业可分为农业机械、化工机械、矿山机械和纺织机械等；按工作原理可分为热力机械、透平机械、仿生机械和流体机械等。相同的工作原理，相同的功能或服务于同一产业的机械有相同的问题和特点，因此机械工程就有几种不同的分支学科体系。另外，全部机械在研究、开发、设计、制造、运用过程中，要经过若干工作性质不同的阶段，依此，机械工程又可划分为互相衔接、互相配合的几个分支系统，如机械科研、机械设计、机械制造、机械运用和维修等。这些分支学科系统互相交叉、互相重叠，使机械工程可能分化成上百个分支学科。例如按功能分的动力机械，与按工作原理分的热力机械、流体机械、透平机械、往复机械、蒸汽动力装置、核动力装置，内燃机、燃气轮机，以及按行业分的中心电站设备、工业动力装置、铁路机车、船舶轮机工程、汽车工程等有复杂的交叉和重叠关系。船用汽轮机是动力机械，也是热力机械、流体机械和透平机械，属于船舶动力装置、蒸汽动力装置，也可能属于核动力装置。而驱动时钟用的发条和重锤装置也是动力机械，但不是热力机械、流体机械、透平机械或往复机械。其他分支之间也有类似的重叠、交叉关系。分析这种复杂关系，研究机械工程最合理的分支系统，有一定的知识意义，但实用价值不大</p>
        <br>
        <h2 id="section-9">机械工程专业化和综合化</h2>
        <p>19世纪下半叶，机械工程成为一门独立学科。进入20世纪，随着机械工程技术的发展和知识总量的增长，
          机械工程开始分解，陆续出现了专业化的分支学科。分解趋势在20世纪中期（第二次世界大战结束前后）达到最高峰。由于机械工程的知识总量已扩大到远非一个人所能全部掌握，一定的专业化是必不可少的。但是过度的专业化造成知识过分分割，视野狭窄，不能统观和统筹稍大规模工程的全貌和全局，并且缩小技术交流的范围，阻碍新技术的出现和技术整体的进步，对外界条件变化（如新技术、新材料和新产品的出现、材料与半成品的供应及价格变化等）的适应能力很差。封闭性专业的专家们掌握的知识过狭，考虑问题过专，在协同工作时配合协调困难，也不利于继续自学提高。因此，从20世纪中、后期开始，机械工程又出现了综合的趋势。人们更多地关注基础理论，拓宽专业领域，合并分化过细的专业。</p>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>
