<% provide(:title, "关于我们" )%>
<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Page Header  -->
    <div id="page-header" class="secondary-background">
      <div class="container">
        <div class="row no-margin">
          <div class="text">
            <h1 class="white">About us.</h1>
            <ul class="breadcrumb white">
              <li><a href="#">Home</a></li>
              <li>About us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  END Page Header  -->
    <div id="home-wrap" class="content-section fullpage-wrap">
      <div class="container">
        <!-- Section Image -->
        <div class="row no-margin padding-lg">
          <div class="col-md-6 padding-leftright-null">
            <div class="text padding-topbottom-null">
              <h2 class="margin-bottom-null left">About our<br>Company.</h2>
              <div class="padding-onlytop-sm">
                <p class="margin-bottom margin-md-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 padding-leftright-null padding-md-top">
            <div class="text padding-topbottom-null">
              <picture>
                <img src="assets/img/about.jpg" class="img-responsive shadow" alt="">
              </picture>
            </div>
          </div>
        </div>
        <!-- END Section Image -->
      </div>
      <!-- Services Section -->
      <div class="light-background">
        <div class="container">
          <div class="row no-margin padding-lg">
            <div class="col-md-4 padding-leftright-null">
              <div class="text padding-topbottom-null padding-md-bottom">
                <i class="material-icons color service">card_travel</i>
                <h3 class="margin-bottom-extrasmall">Experience</h3>
                <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
            <div class="col-md-4 padding-leftright-null">
              <div class="text padding-topbottom-null padding-md-bottom">
                <i class="material-icons color service">trending_up</i>
                <h3 class="margin-bottom-extrasmall">Goals</h3>
                <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
            <div class="col-md-4 padding-leftright-null">
              <div class="text padding-topbottom-null">
                <i class="material-icons color service">lightbulb_outline</i>
                <h3 class="margin-bottom-extrasmall">Vision</h3>
                <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Services Section -->
      <!--  Team section  -->
      <div class="container">
        <div class="row no-margin padding-lg">
          <div class="col-md-12 padding-leftright-null">
            <div class="text text-center padding-topbottom-null">
              <h3 class="big">Meet our Team.</h3>
            </div>
          </div>
          <!--  Team  -->
          <div class="row team padding-onlytop-md">
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff1.jpg" alt="" class="img-responsive">
                <h3>Alexia Brown</h3>
                <span>CEO</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff2.jpg" alt="" class="img-responsive">
                <h3>Julio Sanchez</h3>
                <span>CTO</span>
                <ul>
                  <li><a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff3.jpg" alt="" class="img-responsive">
                <h3>Paul Tinox</h3>
                <span>Web Developer</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff4.jpg" alt="" class="img-responsive">
                <h3>Joe Doe</h3>
                <span>Account</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row team padding-onlytop-md">
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff5.jpg" alt="" class="img-responsive">
                <h3>David Simpson</h3>
                <span>Head of Account</span>
                <ul>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff6.jpg" alt="" class="img-responsive">
                <h3>Jessica Red</h3>
                <span>Head of Designers</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff7.jpg" alt="" class="img-responsive">
                <h3>Dana Trex</h3>
                <span>Designer</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 padding-leftright-null">
              <div class="person">
                <img src="assets/img/staff8.jpg" alt="" class="img-responsive">
                <h3>Patrick Stevens</h3>
                <span>CMO</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  END Team section  -->
    </div>
  </div>
  <!--  END Page Content -->
</div>
<!--  Main Wrap  -->
