<% provide(:title, "关于我们" )%>
<article>
  <p> 机械工程系简介 </p>
  机械工程系目前设有机械设计制造及其自动化、机械电子工程、材料成型及控制工程三个本科专业和一个机械工程实验中心。系部始建于1955年，现有教职工46人，专职教师41人，专职实验人员3人；其中教授1人、副教授13人、高工1人，讲师17人、工程师5人、实验师2人，助教11人；其中包括博士（含在职在读）7人，硕士27人；高级职称比例达33%，博士、硕士研究生比例达到67%；省教学名师1人。

  机械工程实验中心包含8个实验室和一个金属材料研究所：

  （1）技术测量实验室：测绘室、公差测量室和逆向工程室等。

  （2）机械基础实验室：机械设计室、机械原理室和机构创新室等。

  （3）机电工程实验室：机电一体化室、液压室、工业机器人室、集成制造室等。

  （4）工艺工装实验室：刀具室、夹具室和量具室等。

  （5）数控技术实验室：数控仿真室和数控故障实训室等。

  （6）材料分析实验室：试样制备室、金相室和热处理室等。

  （7）材料成型实验室：模具室等。

  （8）力学性能实验室：拉压扭转室和力学室等。

  （9）金属材料研究所：以梁红玉教授为带头人，从事金属材料方面的各项科研活动，近年来取得了多项科研成果。

  实习基地建设方面：近年来，与第一汽车制造厂、中国一拖集团有限公司、东方汽车集团公司以及省内的北方机械制造有限公司、山西晋西机器厂、山西新华化工厂、太钢不锈园区沃特新技术有限公司、太原刀具厂、太原峰达机械厂、太原亚华机械厂等多家企业建立了稳定的生产实习、毕业实习以及企业顶岗社会实践场所，并且每年都聘有多名企业高工参与到毕业设计等各项实践教学环节中，为我系应用型人才的培养打下了良好的基础。

  多年来我系毕业生以其扎实的专业理论知识和熟练的实际操作技能深受社会欢迎，不少学生毕业后很快就成为单位的骨干，毕业生就业率始终名列前茅。从建系到现在近六十年来我们一共培养了机械类本专科学生6000余人，遍及全国各地。
</article>