<% provide(:title, '联系我们') %>
<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Page Header  -->
    <div id="page-header" class="secondary-background">
      <div class="container">
        <div class="row no-margin">
          <div class="text">
            <h1 class="white">联系我们.</h1>
            <ul class="breadcrumb white">
              <li><a href="#">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  END Page Header  -->
    <div id="home-wrap" class="content-section fullpage-wrap">
      <!--  Contact section  -->
      <div class="container">
        <div class="row no-margin padding-lg">
          <div class="col-md-12 padding-leftright-null">
            <div class="text text-left padding-topbottom-null">
              <h2>有什么不懂的常联系</h2>
            </div>
          </div>
          <div class="row no-margin padding-onlytop-md">
            <!--  Contact Form  -->
            <div class="col-md-5 padding-leftright-null">
              <div class="text padding-md-top-null">
                <div class="box-form">
                  <form id="contact-form">
                    <div class="row no-margin">
                      <div class="col-md-12 padding-leftright-null">
                        <label for="name">姓名<sup>*</sup></label>
                        <input class="form-field" name="name" id="name" type="text" placeholder="Your Name">
                      </div>
                      <div class="col-md-12 padding-leftright-null">
                        <label for="mail">Email<sup>*</sup></label>
                        <input class="form-field" name="mail" id="mail" type="text" placeholder="Your Email">
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-md-12 padding-leftright-null">
                        <label for="messageForm">留言<sup>*</sup></label>
                        <textarea class="form-field" name="messageForm" id="messageForm" rows="6" placeholder="Your Message"></textarea>
                        <div class="submit-area padding-onlytop-sm">
                          <input type="submit" id="submit-contact" class="btn-alt active shadow" value="Send Message">
                          <div id="msg" class="message"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--  END Contact Form  -->
            <!--  Contact Info  -->
            <div class="col-md-7 padding-leftright-null">
              <div class="row no-margin padding-onlytop-md">
                <div class="col-md-6 padding-leftright-null">
                  <div class="text padding-md-top-null">
                    <h3 class="margin-bottom-small">地址</h3>
                    <p class="margin-null">山西省太原市 <br>
                      尖草坪区新兰路31号<br>
                      机械楼4层材料成型研究室</p>
                  </div>
                </div>
                <div class="col-md-6 padding-leftright-null">
                  <div class="text padding-md-top-null">
                    <h3 class="margin-bottom-small">电话</h3>
                    <p class="margin-bottom-extrasmall"><a href="" class="simple">0351-3566033
                    </a></p>
                    <p class="margin-null"><a href="" class="simple">15835125185</a></p>
                  </div>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-md-6 padding-leftright-null">
                  <div class="text padding-md-top-null">
                    <h3 class="margin-bottom-small">电子邮件</h3>
                    <p class="margin-bottom-extrasmall">办公邮箱:<a href="" class="simple">1062284201@qq.com</a></p>
                    <p class="margin-null">开发者邮箱:<a href="" class="simple">bud2@qq.com</a></p>
                  </div>
                </div>
                <div class="col-md-6 padding-leftright-null">
                  <div class="text padding-md-top-null padding-md-bottom-null">
                    <h3 class="margin-bottom-small">获取本网站代码</h3>
                    <p>
                      <a href="https://github.com/ForrestDouble/machine_website"><i class="fa fa-github fa-4x"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--  END Contact Info  -->
          </div>
        </div>
      </div>
      <!--  END Contact section  -->
    </div>
  </div>
  <!--  END Page Content -->
</div>
<!--  Main Wrap  -->