<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Slider  -->
    <div id="flexslider-nav" class="fullpage-wrap small">
      <ul class="slides">
        <li style="background-image:url(assets/img/slider.jpg)">
          <div class="text center">
            <h1 class="heading center white margin-bottom-small flex-animation">今之机器之用大进 <br>人力可以胜天</h1>
            <p class="heading white center margin-bottom flex-animation">I learned the value of hard work by working hard</p>
            <div class="padding-onlytop-md flex-animation">
              <a href="" class="btn-alt small shadow margin-xs-bottom-small">Download Now</a>
              <a href="" class="btn-alt small shadow">Read More</a>
            </div>
          </div>
          <div class="gradient dark"></div>
        </li>
      </ul>
    </div>
    <!--  END Slider  -->
    <div id="home-wrap" class="content-section fullpage-wrap">
      <!-- Abous us -->
      <div class="container">
        <!-- Section Image -->
        <div class="row no-margin padding-onlytop-lg">
          <div class="col-md-6 padding-leftright-null">
            <div data-responsive="parent-height" data-responsive-id="about" class="text">
              <h2 class="margin-bottom-null left">关于我们</h2>
              <div class="padding-onlytop-sm">
                <p class="margin-bottom grey">
                  机械工程系目前设有机械设计制造及其自动化、机械电子工程、材料成型及控制工程三个本科专业和一个机械工程实验中心。系部始建于1955年，现有教职工46人，专职教师41人，专职实验人员3人；其中教授1人、副教授13人、高工1人，讲师17人、工程师5人、实验师2人，助教11人；其中包括博士（含在职在读）7人，硕士27人；高级职称比例达33%，博士、硕士研究生比例达到67%；省教学名师1人。
                </p>
                <a href="http://jxx.tit.edu.cn/index.jsp?urltype=tree.TreeTempUrl&wbtreeid=1001" class="btn-pro">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 padding-leftright-null">
            <div data-responsive="child-height" data-responsive-id="about" class="section-image height-auto-sm">
              <picture class="section right">
                <img src="assets/img/table.jpeg"  class="img-responsive" alt="">
              </picture>
            </div>
          </div>
        </div>
        <!-- END Section Image -->
      </div>
      <!-- Services -->
      <div class="light-background">
        <div class="container padding-lg">
          <div class="row no-margin">
            <div class="col-md-12 padding-leftright-null text-center">
              <h2 class="margin-bottom-small left">Our Services</h2>
            </div>
            <div class="row no-margin">
              <div class="col-md-6 padding-leftright-null">
                <div class="text padding-md-bottom-null">
                  <i class="material-icons color service left">business</i>
                  <div class="service-content large">
                    <h3 class="margin-bottom-extrasmall">Business Goals</h3>
                    <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni fugit. Qui!</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-leftright-null">
                <div class="text padding-md-bottom-null">
                  <i class="material-icons color service left">people</i>
                  <div class="service-content large">
                    <h3 class="margin-bottom-extrasmall">Professional Team</h3>
                    <p class="margin-bottom-null">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni fugit. Qui!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-margin">
              <div class="col-md-6 padding-leftright-null">
                <div class="text padding-md-bottom-null">
                  <i class="material-icons color service left">lightbulb_outline</i>
                  <div class="service-content large">
                    <h3 class="margin-bottom-extrasmall">Vision</h3>
                    <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni fugit. Qui!</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding-leftright-null">
                <div class="text padding-md-bottom-null">
                  <i class="material-icons color service left">headset_mic</i>
                  <div class="service-content large">
                    <h3 class="margin-bottom-extrasmall">Support 24/24</h3>
                    <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni fugit. Qui!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Services -->
        </div>
      </div>
      <!-- END Services -->
      <!-- Video Section -->
      <div class="container">
        <div class="row no-margin padding-lg">
          <div class="col-md-7 padding-leftright-null">
            <div data-responsive="child-height" data-responsive-id="video" class="text padding-md-top-null height-auto-md">
              <!-- Video Popup -->
              <a class="popup-vimeo" href="">
                <img src="assets/img/video-business.jpg" alt="">
              </a>
              <!-- END Video Popup -->
            </div>
          </div>
          <div class="col-md-5 padding-leftright-null">
            <div data-responsive="parent-height" data-responsive-id="video" class="text padding-md-top-null padding-md-bottom-null">
              <h2 class="margin-bottom-null left">机械工程材料<br>
                教学视频</h2>
              <div class="padding-onlytop-sm">
                <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <ul class="styled">
                  <li><a href="http://mooc1.chaoxing.com/nodedetailcontroller/visitnodedetail?courseId=86853518&knowledgeId=90701471"><i class=" fa fa-video-camera"></i>  司家勇 中南林业科技大学</a> </li>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Lorem ipsum dolor sit amet</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Video Section -->
      <!--  Section Image Background with overlay  -->
      <div class="row margin-leftright-null grey-background">
        <div class="bg-img overlay responsive" style="background-image:url(assets/img/quote-business.jpg)">
          <div class="container padding-sm">
            <div class="row no-margin">
              <div class="text">
                <h3 class="big white margin-bottom-small">我们提供最新最全的机械工程材料教学</h3>
                <%= link_to '联系我们', contact_path, class: 'btn-pro white'  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  END Section Image Background with overlay  -->
      <!--  Section Testimonials  -->
      <div class="container">
        <div class="row no-margin padding-lg">
          <div class="col-md-12 padding-leftright-null text-center">
            <h3 class="big margin-bottom-small">我们的团队成员</h3>
          </div>
          <!-- Testimonials -->
          <section class="testimonials-carousel-simple col-md-12 padding-leftright-null padding-bottom-null">
            <div class="item padding-leftright-null">
              <div class="text padding-bottom-null">
                <div class="person">
                  <img src="assets/img/loujuhong.png" alt="">
                  <div class="description">
                    <em>娄菊红</em>
                    <span class="margin-null">博士，副教授，太原工业学院机械机械工程副主任</span>
                  </div>
                </div>
                <blockquote class="margin-bottom-small">本网站要介绍了复合材料的分类、金属基复合材料的特点及发展应用，重点介绍了SiC连续纤维增强Ti基复合材料制备及力学性能等方面的研究工作，分析了纤维排布方式、体积分数及复合材料界面特性对残余应力、界面失效机制及宏观力学性能的影响规律。</blockquote>
              </div>
            </div>
            <div class="item padding-leftright-null">
              <div class="text padding-bottom-null">
                <div class="person">
                  <img src="assets/img/shunglei.jpg" alt="">
                  <div class="description">
                    <em>双磊</em>
                    <span class="margin-null">一个喜欢机械的程序员</span>
                  </div>
                </div>
                <blockquote class="margin-bottom-small">
                  在编写《机械工程材料》网站时，我们从实际出发，注重实践性、启发性、科学性，做到基本概念清晰、重点突出、简明扼要。在基础理论部分，以必须和够用为原则，以强化应用为重点，则以钢的热处理，工程上常用的碳素钢、工具钢、铸铁等为重点进行介绍，以突出职业性、实用性。本网站介绍了基本术语、材料牌号、设备型号等最新标准
                </blockquote>
              </div>
            </div>
            <div class="item padding-leftright-null">
              <div class="text padding-bottom-null">
                <div class="person">
                  <img src="assets/img/yangji.jpg" alt="">
                  <div class="description">
                    <em>杨绩</em>
                    <span class="margin-null">太原理工《机械工程材料》研究生</span>
                  </div>
                </div>
                <blockquote class="margin-bottom-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum fugiat molestias, veritatis perspiciatis laborum modi beatae placeat explicabo at laudantium aliquam, nam vero ut!</blockquote>
              </div>
            </div>
          </section>
          <!-- END Testimonials -->
        </div>
      </div>
      <!-- END Section Testimonials  -->
      <!-- Section News -->
      <div class="light-background">
        <div class="container">
          <div class="row no-margin padding-onlytop-lg">
            <div class="col-md-12 padding-leftright-null text-center">
              <h3 class="big margin-bottom-small">Our News</h3>
            </div>
            <div class="col-md-12 text" id="news">
              <!-- Single News -->
              <div class="col-sm-4 single-news">
                <article>
                  <img src="assets/img/news1.jpg" alt="">
                  <div class="content">
                    <h3>Meetup In Rome</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptas corporis. Maxime sapiente, adipisci laborum.</p>
                    <span class="date">02 November 2017</span>
                  </div>
                  <a href="#" class="link"></a>
                </article>
              </div>
              <!-- END Single News -->
              <div class="col-sm-4 single-news">
                <article>
                  <img src="assets/img/news2.jpg" alt="">
                  <div class="content">
                    <h3>Brand Power</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptas corporis. Maxime sapiente, adipisci laborum.</p>
                    <span class="date">12 May 2017</span>
                  </div>
                  <a href="#" class="link"></a>
                </article>
              </div>
              <div class="col-sm-4 single-news">
                <article>
                  <img src="assets/img/news4.jpg" alt="">
                  <div class="content">
                    <h3>Vision</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptas corporis. Maxime sapiente, adipisci laborum.</p>
                    <span class="date">13 March 2017</span>
                  </div>
                  <a href="#" class="link"></a>
                </article>
              </div>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 padding-leftright-null">
              <div class="text padding-onlytop-md padding-onlybottom-lg padding-md-top-null">
                <a href="#" class="btn-pro">See all your news</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Section News -->
      <!-- Section Partners -->
      <div class="container">
        <div class="row no-margin">
          <div class="col-md-12 padding-leftright-null">
            <div class="partners">
              <div class="col-xs-6 col-sm-4 col-md-2 text padding-leftright-null">
                <h3>Our Trusted<br>Partners</h3>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-2 partner">
                <img class="img-responsive" src="assets/img/logo-square-2-dark.png" alt="">
              </div>
              <div class="col-xs-6 col-sm-4 col-md-2 partner">
                <img class="img-responsive" src="assets/img/logo-square-3-dark.png" alt="">
              </div>
              <div class="col-xs-6 col-sm-4 col-md-2 partner">
                <img class="img-responsive" src="assets/img/logo-square-4-dark.png" alt="">
              </div>
              <div class="col-xs-6 col-sm-4 col-md-2 partner">
                <img class="img-responsive" src="assets/img/logo-square-5-dark.png" alt="">
              </div>
              <div class="col-xs-6 col-sm-4 col-md-2 partner">
                <img class="img-responsive" src="assets/img/logo-square-6-dark.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Section Partners -->
    </div>
  </div>
  <!--  END Page Content -->
</div>
<!--  Main Wrap  -->
