<% provide(:title, '习题') %>
<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Page Header  -->
    <div id="page-header" class="secondary-background">
      <div class="container">
        <div class="row no-margin">
          <div class="text">
            <h1 class="white">机械工程材料习题二</h1>
            <ul class="breadcrumb white">
              <li>机械工程</li>
              <li>机械工程材料</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="home-page"></div>
    <embed src="http://jxkc.qtech.edu.cn/gccl/files/xiti/2b/2b.html" width="1000" height="800" style="display:block;margin:0 auto" />
  </div>
</div>