<h1>太原工业学院机械工程系</h1>

<p>Hi <%= @user.name %>,</p>

<p>欢迎来到太原工业学院机械工程系机械工程材料网
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>