<!--  Main Wrap  -->
<div id="main-wrap">
  <!--  Page Content  -->
  <div id="page-content" class="header-static">
    <!--  Page Header  -->
    <div id="page-header" class="secondary-background">
      <div class="container">
        <div class="row no-margin">
          <div class="text">
            <h1 class="white">在线视频</h1>
            <ul class="breadcrumb white">
              <li><a href="#">Home</a></li>
              <li>Videos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row no-margin padding-lg">
        <div class="col-md-12 padding-leftright-null">
          <div class="text text-center padding-topbottom-null">
            <h3 class="big">第三方在线视频</h3>
          </div>
        </div>
        <!--  Team  -->
        <div class="row team padding-onlytop-md">
          <div class="col-xs-6 col-md-3 padding-leftright-null">
            <div class="person">
              <img src="assets/img/jixie1.png" alt="" class="img-responsive">
                <h3>司家勇</h3>
                <span>中南林业科技大学</span>
                <ul>
                  <li><a href="http://mooc1.chaoxing.com/nodedetailcontroller/visitnodedetail?courseId=86853518&knowledgeId=90701471"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                </ul>
            </div>

          </div>
          <div class="col-xs-6 col-md-3 padding-leftright-null">
            <div class="person">
              <img src="assets/img/jixie2.png" alt="" class="img-responsive">
              <h3>青岛理工</h3>
              <span>工程机械材料精品教学</span>
              <ul>
                <li><a href="http://jxkc.qtech.edu.cn/gccl/content.php?id=30"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 padding-leftright-null">
            <div class="person">
              <img src="assets/img/jixie3.png" alt="" class="img-responsive">
              <h3>机械工程材料教学</h3>
              <span>机械电子  </span>
              <ul>
                <li><a href="http://www.dxzy163.com/player/index8554.html?8554-0-0"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 padding-leftright-null">
            <div class="person">
              <img src="assets/img/jixie4.png" alt="" class="img-responsive">
              <h3>哈工大机械工程材料</h3>
              <span>哈尔滨工业大学</span>
              <ul>
                <li><a href="http://www.openke.net/show-1457.html"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END Team section  -->

<br>
<br>
<br>
<br>

  <div class="col-md-12 padding-leftright-null">
    <div class="text text-center padding-topbottom-null">
      <h3 class="big">本网站视频</h3>
    </div>
  </div>

<br>
<br>
<br>
<br>

  <% provide(:title, '在线视频播放') %>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
      <tr>
        <th>视频</th>
        <th>简介</th>
        <th>发起时间</th>
        <th>播放次数</th>
        <th>播放</th>
      </tr>
      </thead>
      <tbody>
      <% @videos.each do |video| %>
          <tr>
            <th><%= video.name %></th>
            <th><%= video.context %></th>
            <th><%= video.created_at %></th>
            <th>100</th>
            <th><%= link_to '在线播放', video_path(video), class: 'btn-alt small shadow' %></th>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<!--  Team section  -->