<!--  Footer  -->
<footer>
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-3 text">
        <div class="logo">
          <img src="assets/img/logo.gif" class="normal" alt="logo">
        </div>
        <p>&nbsp;&nbsp;&nbsp;《机械工程材料》教学网站已经开源了，你可以点击下面的Github图标来Fork本网站的代码。😆</p>
        <div>
          <ul class="social">
            <li>关注我们</li>
            <li><a href="https://github.com/ForrestDouble/machine_website"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="http://mp.weixin.qq.com/mp/getmasssendmsg?__biz=MzA3NDc3OTIzOA==#wechat_webview_type=1&wechat_redirect"><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
            <li><a href="http://weibo.com/u/2080833561?is_hot=1"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 text small">
        <h4 class="heading white margin-bottom-small weight-300">工作地址</h4>
        <p>山西省太原市 <br>
          尖草坪区新兰路31号<br>
          机械楼4层材料成型研究室</p>
      </div>
      <div class="col-md-2 text small">
        <h4 class="heading white margin-bottom-small weight-300">友情链接</h4>
        <ul class="info">
          <li><a href="www.tit.edu.cn">太原工业学院</a></li>
          <li><a href="http://jxx.tit.edu.cn">机械工程系</a></li>
          <li><a href="http://www.dxzy163.com">大学资源网</a></li>
          <li><a href="http://www.jx.cn">中国机械网</a></li>
          <li><a href="http://www.cmiw.cn">中国机械社区</a></li>
        </ul>
      </div>
      <div class="col-md-4 text">
        <h4 class="heading white margin-bottom-small weight-300">Rss 订阅</h4>
        <p>机械工程系教学网站最新动态将发送的电子邮箱中</p>
        <div id="newsletter-form">
          <form class="search-form">
            <div class="form-input">
              <input type="text" placeholder="Your email ID">
              <span class="form-button">
                                        <button type="button">Sign Up</button>
                                    </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="copy">
  <div class="container">
    <div class="row no-margin">
      <div class="col-md-6 text">
        <p>Copyright &copy; 2017.太原工业学院机械工程系 All rights reserved.</p>
      </div>
      <div class="col-md-6 text text-right">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Term and Condition</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>